body {
  background: linear-gradient(81deg, rgb(225, 114, 59), rgba(227, 45, 151, 0.615));
}

.glass {
  margin: 0px 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.9px);
  -webkit-backdrop-filter: blur(10.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.greyWrapper {
  filter: grayscale(100%);
  transition: all 0.8s;
}

.greyWrapper:hover {
  filter: grayscale(0%);
  transition: all 0.8s;
}

